apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: workshop-app 
  namespace: automotive-workshop 
spec: 
  replicas: 2 
  selector: 
    matchLabels: 
      app: workshop 
  template: 
    metadata: 
      labels: 
        app: workshop 
    spec: 
      containers: 
      - name: app 
        image: automotive-workshop:latest 
        ports: 
        - containerPort: 8000 
